@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>@ViewData["fraction_1"] : вы ответили @ViewData["ans_us_1"],  а надо @ViewData["ans_1"], поэтому @ViewData["flag_1"]</p>
    <p>@ViewData["fraction_2"] : вы ответили @ViewData["ans_us_2"],  а надо @ViewData["ans_2"], поэтому @ViewData["flag_2"]</p>
    <p>@ViewData["fraction_3"] : вы ответили @ViewData["ans_us_3"],  а надо @ViewData["ans_3"], поэтому @ViewData["flag_3"]</p>
    <p>@ViewData["fraction_4"] : вы ответили @ViewData["ans_us_4"],  а надо @ViewData["ans_4"], поэтому @ViewData["flag_4"]</p>
    <p>@ViewData["fraction_5"] : вы ответили @ViewData["ans_us_5"],  а надо @ViewData["ans_5"], поэтому @ViewData["flag_5"]</p>


</div>
